html
  head
    title Create new Poll
  body
  form(action="/polls", method="post")
    input(type="text", name="title", placeholder="Title") 
    input(type="text", name="description", placeholder="Description")
    input(type="submit", value="Create")